/*
      ==============================================
                  ****** GLOBAL ******
      ==============================================
 */
i.fa-bars::before {
  font-size: 28px;
  color: #272A31;
  padding: 15px 25px;
  display: flex;
  align-items: center; }

i.fa-facebook-f::before {
  font-size: 18px;
  color: #D3D3D3;
  display: flex;
  align-items: center; }

i.fa-twitter::before {
  font-size: 18px;
  color: #D3D3D3;
  display: flex;
  align-items: center; }

/*
      ==============================================
                  ****** RESET ******
      ==============================================
 */
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Cocogoose Semilight", sans-serif;
  width: 100%; }
  body ul {
    list-style: none; }
    body ul a {
      text-decoration: none;
      color: black; }
      body ul a:hover {
        text-decoration: underline;
        color: inherit;
        text-decoration-color: #f72210; }

.orange-text {
  color: #EC5242; }

.gray-text {
  color: #D3D3D3; }

.black-text {
  color: #272A31; }

.bg-black {
  background-color: #272A31; }

.bg-gray {
  background-color: #D3D3D3; }

.bg-orange {
  background-color: #EC5242; }

.showcase {
  background-image: url(https://i.pinimg.com/originals/a4/76/7c/a4767cfb43dab7db71282331e7df090c.gif), linear-gradient(to top left, black, #D3D3D3);
  background-color: transparent;
  background-blend-mode: overlay;
  background-position: 42% 58%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  position: relative;
  font: "Cocogoose Thin", sans-serif;
  cursor: pointer;
  height: 500px; }
  .showcase-bottom {
    background: -webkit-linear-gradient(top left, white, #272A31);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.top-nav {
  height: 35px; }

.bot-nav {
  height: 50px; }

h1 {
  background: -webkit-linear-gradient(top left, #cd2615, #D3D3D3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

@media (max-width: 767px) {
  .header-logo {
    background: linear-gradient(to left, #adadad, #EC5242); }
  h1 {
    font-size: 28px; } }

@media (min-width: 768px) {
  .showcase-bottom-caption {
    margin-top: -10px; } }

.main-program {
  background-image: url(https://i.pinimg.com/originals/87/c1/d2/87c1d2e0bd88142fd47549b2e86f247b.jpg), linear-gradient(to top left, #272A31, #D3D3D3);
  background-color: #282a33;
  background-blend-mode: overlay;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  position: relative;
  font: "Cocogoose Thin", sans-serif;
  cursor: pointer;
  height: auto; }
  .main-program .content {
    background: rgba(39, 42, 49, 0.5);
    backdrop-filter: blur(4px); }
  .main-program .main-button {
    width: 18em;
    color: white;
    border: transparent;
    background-color: #eb4534;
    border-radius: 50px; }
