/*
      ==============================================
                  ****** GLOBAL ******
      ==============================================
 */
i.fa-bars::before {
  font-size: 28px;
  color: #32363f;
  padding: 15px 25px;
  display: flex;
  align-items: center; }

i.fa-facebook-f::before {
  font-size: 18px;
  color: #D3D3D3;
  display: flex;
  align-items: center; }

i.fa-twitter::before {
  font-size: 18px;
  color: #D3D3D3;
  display: flex;
  align-items: center; }

/*
      ==============================================
                  ****** RESET ******
      ==============================================
 */
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  width: 100%;
  color: #272A31; }
  body ul {
    list-style: none; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    color: #f17c70;
    text-decoration: none; }

.orange-text {
  color: #EC5242; }

.gray-text {
  color: #D3D3D3; }

.black-text {
  color: #272A31; }

.bg-black {
  background-color: #272A31; }

.bg-gray {
  background-color: #D3D3D3; }

.bg-dark-gray {
  background-color: #3d3f46; }

.bg-orange {
  background-color: #EC5242; }

.d-grid {
  display: grid; }

.showcase {
  background-image: url(/assets/coffee.gif), linear-gradient(to top left, black, #D3D3D3);
  background-color: transparent;
  background-blend-mode: overlay;
  background-position: 42% 58%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  position: relative;
  font: "Work Sans", sans-serif;
  cursor: pointer;
  height: 500px; }
  .showcase-bottom {
    color: #d6d6d6; }
    .showcase-bottom-caption {
      border-radius: 5px;
      background: rgba(236, 82, 66, 0.7); }
      .showcase-bottom-caption-caption:hover {
        background: red; }

.top-nav {
  height: 30px; }

h1 {
  color: #c82514;
  font-family: "Work Sans", sans-serif;
  font-size: 45px;
  font-weight: 700; }

@media (max-width: 992px) {
  h1 {
    font-size: 40px; } }

@media (max-width: 767px) {
  .header-logo {
    background: linear-gradient(to right, #adadad, #EC5242); }
  h1 {
    font-size: 38px; } }

@media (max-width: 576px) {
  h1 {
    font-size: 35px; }
  footer {
    font-size: 14px; } }

@media (max-width: 321px) {
  h1 {
    font-size: 31px; }
  .coffee-connoiseurs h2 {
    font-size: 26px; } }

@media (min-width: 768px) {
  .showcase-bottom-caption {
    margin-top: -10px; } }

.main-program {
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://i.pinimg.com/originals/87/c1/d2/87c1d2e0bd88142fd47549b2e86f247b.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  position: relative;
  font: "Work Sans", sans-serif;
  cursor: pointer;
  height: auto; }
  .main-program .content {
    background: rgba(39, 42, 49, 0.5);
    backdrop-filter: blur(4px);
    border-radius: 15px; }
  .main-program .main-button {
    width: 18em;
    color: white;
    border: transparent;
    background-color: #eb4534;
    border-radius: 50px;
    box-shadow: 10px -10px 4px 1px #272A31 255, 255, 255, 1; }
  .main-program .coffee-caption {
    width: 100%; }

.coffee-connoiseurs figure {
  width: 100%; }

.avatar {
  object-fit: cover;
  width: 10rem;
  max-width: 100%;
  height: 10rem; }

.partners {
  background-color: #36383e; }

.about {
  background-image: url(https://nationalcoffeeblog.files.wordpress.com/2018/11/limitless-coffee.gif), linear-gradient(to top left, black, #D3D3D3);
  background-color: transparent;
  background-blend-mode: overlay;
  background-position: 42% 58%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  position: relative;
  font: "Work Sans", sans-serif;
  cursor: pointer;
  height: 500px; }
  .about-bottom {
    color: #494949; }
    .about-bottom-caption {
      border-radius: 5px;
      background: rgba(255, 255, 255, 0.7); }
      .about-bottom-caption-caption:hover {
        background: red; }
