@font-face {
    font-family: 'Cocogoose Narrow';
    src: url('CocogooseNarrow-LightItalic.eot');
    src: local('Cocogoose Narrow Light Italic'), local('CocogooseNarrow-LightItalic'),
        url('CocogooseNarrow-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('CocogooseNarrow-LightItalic.woff2') format('woff2'),
        url('CocogooseNarrow-LightItalic.woff') format('woff'),
        url('CocogooseNarrow-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Cocogoose Condensed Light Ita';
    src: url('CocogooseCondensed-LightIta.eot');
    src: local('Cocogoose Condensed Light Ita'), local('CocogooseCondensed-LightIta'),
        url('CocogooseCondensed-LightIta.eot?#iefix') format('embedded-opentype'),
        url('CocogooseCondensed-LightIta.woff2') format('woff2'),
        url('CocogooseCondensed-LightIta.woff') format('woff'),
        url('CocogooseCondensed-LightIta.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Narrow';
    src: url('CocogooseNarrow-UltraLight.eot');
    src: local('Cocogoose Narrow UltraLight'), local('CocogooseNarrow-UltraLight'),
        url('CocogooseNarrow-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('CocogooseNarrow-UltraLight.woff2') format('woff2'),
        url('CocogooseNarrow-UltraLight.woff') format('woff'),
        url('CocogooseNarrow-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Condensed';
    src: url('CocogooseCondensed-ThinItalic.eot');
    src: local('Cocogoose Condensed Thin Italic'), local('CocogooseCondensed-ThinItalic'),
        url('CocogooseCondensed-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('CocogooseCondensed-ThinItalic.woff2') format('woff2'),
        url('CocogooseCondensed-ThinItalic.woff') format('woff'),
        url('CocogooseCondensed-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Cocogoose Narrow Letterpress';
    src: url('CocogooseNarrow-Letterpress.eot');
    src: local('Cocogoose Narrow Letterpress'), local('CocogooseNarrow-Letterpress'),
        url('CocogooseNarrow-Letterpress.eot?#iefix') format('embedded-opentype'),
        url('CocogooseNarrow-Letterpress.woff2') format('woff2'),
        url('CocogooseNarrow-Letterpress.woff') format('woff'),
        url('CocogooseNarrow-Letterpress.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Condensed UltLt Ita';
    src: url('CocogooseCondensed-UltLtIta.eot');
    src: local('Cocogoose Condensed UltLt Ita'), local('CocogooseCondensed-UltLtIta'),
        url('CocogooseCondensed-UltLtIta.eot?#iefix') format('embedded-opentype'),
        url('CocogooseCondensed-UltLtIta.woff2') format('woff2'),
        url('CocogooseCondensed-UltLtIta.woff') format('woff'),
        url('CocogooseCondensed-UltLtIta.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Narrow UltraLight Ita';
    src: url('CocogooseNarrow-UltLtIta.eot');
    src: local('Cocogoose Narrow UltLt Ita'), local('CocogooseNarrow-UltLtIta'),
        url('CocogooseNarrow-UltLtIta.eot?#iefix') format('embedded-opentype'),
        url('CocogooseNarrow-UltLtIta.woff2') format('woff2'),
        url('CocogooseNarrow-UltLtIta.woff') format('woff'),
        url('CocogooseNarrow-UltLtIta.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Compressed';
    src: url('CocogooseCompressed-UltLt.eot');
    src: local('Cocogoose Compressed UltraLight'), local('CocogooseCompressed-UltLt'),
        url('CocogooseCompressed-UltLt.eot?#iefix') format('embedded-opentype'),
        url('CocogooseCompressed-UltLt.woff2') format('woff2'),
        url('CocogooseCompressed-UltLt.woff') format('woff'),
        url('CocogooseCompressed-UltLt.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Compressed UltLt Ita';
    src: url('CocogooseCompressed-UltLtIta.eot');
    src: local('Cocogoose Compressed UltLt Ita'), local('CocogooseCompressed-UltLtIta'),
        url('CocogooseCompressed-UltLtIta.eot?#iefix') format('embedded-opentype'),
        url('CocogooseCompressed-UltLtIta.woff2') format('woff2'),
        url('CocogooseCompressed-UltLtIta.woff') format('woff'),
        url('CocogooseCompressed-UltLtIta.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Compressed';
    src: url('CocogooseCompressed-Thin.eot');
    src: local('Cocogoose Compressed Thin'), local('CocogooseCompressed-Thin'),
        url('CocogooseCompressed-Thin.eot?#iefix') format('embedded-opentype'),
        url('CocogooseCompressed-Thin.woff2') format('woff2'),
        url('CocogooseCompressed-Thin.woff') format('woff'),
        url('CocogooseCompressed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Narrow Semilight Ita';
    src: url('CocogooseNarrow-SemLtIta.eot');
    src: local('Cocogoose Narrow SemLt Ita'), local('CocogooseNarrow-SemLtIta'),
        url('CocogooseNarrow-SemLtIta.eot?#iefix') format('embedded-opentype'),
        url('CocogooseNarrow-SemLtIta.woff2') format('woff2'),
        url('CocogooseNarrow-SemLtIta.woff') format('woff'),
        url('CocogooseNarrow-SemLtIta.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Narrow';
    src: url('CocogooseNarrow-Regular.eot');
    src: local('Cocogoose Narrow Regular'), local('CocogooseNarrow-Regular'),
        url('CocogooseNarrow-Regular.eot?#iefix') format('embedded-opentype'),
        url('CocogooseNarrow-Regular.woff2') format('woff2'),
        url('CocogooseNarrow-Regular.woff') format('woff'),
        url('CocogooseNarrow-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Narrow';
    src: url('CocogooseNarrow-Light.eot');
    src: local('Cocogoose Narrow Light'), local('CocogooseNarrow-Light'),
        url('CocogooseNarrow-Light.eot?#iefix') format('embedded-opentype'),
        url('CocogooseNarrow-Light.woff2') format('woff2'),
        url('CocogooseNarrow-Light.woff') format('woff'),
        url('CocogooseNarrow-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Compressed Thin Ita';
    src: url('CocogooseCompressed-ThinIta.eot');
    src: local('Cocogoose Compressed Thin Ita'), local('CocogooseCompressed-ThinIta'),
        url('CocogooseCompressed-ThinIta.eot?#iefix') format('embedded-opentype'),
        url('CocogooseCompressed-ThinIta.woff2') format('woff2'),
        url('CocogooseCompressed-ThinIta.woff') format('woff'),
        url('CocogooseCompressed-ThinIta.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Compressed Semilight';
    src: url('CocogooseCompressed-Semilight.eot');
    src: local('Cocogoose Compressed Semilight'), local('CocogooseCompressed-Semilight'),
        url('CocogooseCompressed-Semilight.eot?#iefix') format('embedded-opentype'),
        url('CocogooseCompressed-Semilight.woff2') format('woff2'),
        url('CocogooseCompressed-Semilight.woff') format('woff'),
        url('CocogooseCompressed-Semilight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Condensed Letterpress';
    src: url('CocogooseCondensed-Letterpres.eot');
    src: local('Cocogoose Condensed Letterpress'), local('CocogooseCondensed-Letterpres'),
        url('CocogooseCondensed-Letterpres.eot?#iefix') format('embedded-opentype'),
        url('CocogooseCondensed-Letterpres.woff2') format('woff2'),
        url('CocogooseCondensed-Letterpres.woff') format('woff'),
        url('CocogooseCondensed-Letterpres.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Compressed Letterpress';
    src: url('CocogooseCompressed-Letterpre.eot');
    src: local('Cocogoose Compressed Letterpres'), local('CocogooseCompressed-Letterpre'),
        url('CocogooseCompressed-Letterpre.eot?#iefix') format('embedded-opentype'),
        url('CocogooseCompressed-Letterpre.woff2') format('woff2'),
        url('CocogooseCompressed-Letterpre.woff') format('woff'),
        url('CocogooseCompressed-Letterpre.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Condensed';
    src: url('CocogooseCondensed-Thin.eot');
    src: local('Cocogoose Condensed Thin'), local('CocogooseCondensed-Thin'),
        url('CocogooseCondensed-Thin.eot?#iefix') format('embedded-opentype'),
        url('CocogooseCondensed-Thin.woff2') format('woff2'),
        url('CocogooseCondensed-Thin.woff') format('woff'),
        url('CocogooseCondensed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Condensed SemLt Ita';
    src: url('CocogooseCondensed-SemLtIta.eot');
    src: local('Cocogoose Condensed SemLt Ita'), local('CocogooseCondensed-SemLtIta'),
        url('CocogooseCondensed-SemLtIta.eot?#iefix') format('embedded-opentype'),
        url('CocogooseCondensed-SemLtIta.woff2') format('woff2'),
        url('CocogooseCondensed-SemLtIta.woff') format('woff'),
        url('CocogooseCondensed-SemLtIta.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Condensed';
    src: url('CocogooseCondensed-Light.eot');
    src: local('Cocogoose Condensed Light'), local('CocogooseCondensed-Light'),
        url('CocogooseCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('CocogooseCondensed-Light.woff2') format('woff2'),
        url('CocogooseCondensed-Light.woff') format('woff'),
        url('CocogooseCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Compressed';
    src: url('CocogooseCompressed-Bold.eot');
    src: local('Cocogoose Compressed Bold'), local('CocogooseCompressed-Bold'),
        url('CocogooseCompressed-Bold.eot?#iefix') format('embedded-opentype'),
        url('CocogooseCompressed-Bold.woff2') format('woff2'),
        url('CocogooseCompressed-Bold.woff') format('woff'),
        url('CocogooseCompressed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Narrow Semilight';
    src: url('CocogooseNarrow-Semilight.eot');
    src: local('Cocogoose Narrow Semilight'), local('CocogooseNarrow-Semilight'),
        url('CocogooseNarrow-Semilight.eot?#iefix') format('embedded-opentype'),
        url('CocogooseNarrow-Semilight.woff2') format('woff2'),
        url('CocogooseNarrow-Semilight.woff') format('woff'),
        url('CocogooseNarrow-Semilight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Condensed Semilight';
    src: url('CocogooseCondensed-Semilight.eot');
    src: local('Cocogoose Condensed Semilight'), local('CocogooseCondensed-Semilight'),
        url('CocogooseCondensed-Semilight.eot?#iefix') format('embedded-opentype'),
        url('CocogooseCondensed-Semilight.woff2') format('woff2'),
        url('CocogooseCondensed-Semilight.woff') format('woff'),
        url('CocogooseCondensed-Semilight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Narrow';
    src: url('CocogooseNarrow-Thin.eot');
    src: local('Cocogoose Narrow Thin'), local('CocogooseNarrow-Thin'),
        url('CocogooseNarrow-Thin.eot?#iefix') format('embedded-opentype'),
        url('CocogooseNarrow-Thin.woff2') format('woff2'),
        url('CocogooseNarrow-Thin.woff') format('woff'),
        url('CocogooseNarrow-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Narrow';
    src: url('CocogooseNarrow-Italic.eot');
    src: local('Cocogoose Narrow Italic'), local('CocogooseNarrow-Italic'),
        url('CocogooseNarrow-Italic.eot?#iefix') format('embedded-opentype'),
        url('CocogooseNarrow-Italic.woff2') format('woff2'),
        url('CocogooseNarrow-Italic.woff') format('woff'),
        url('CocogooseNarrow-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Cocogoose Compressed Bold Ita';
    src: url('CocogooseCompressed-BoldIta.eot');
    src: local('Cocogoose Compressed Bold Ita'), local('CocogooseCompressed-BoldIta'),
        url('CocogooseCompressed-BoldIta.eot?#iefix') format('embedded-opentype'),
        url('CocogooseCompressed-BoldIta.woff2') format('woff2'),
        url('CocogooseCompressed-BoldIta.woff') format('woff'),
        url('CocogooseCompressed-BoldIta.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Narrow';
    src: url('CocogooseNarrow-ThinItalic.eot');
    src: local('Cocogoose Narrow Thin Italic'), local('CocogooseNarrow-ThinItalic'),
        url('CocogooseNarrow-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('CocogooseNarrow-ThinItalic.woff2') format('woff2'),
        url('CocogooseNarrow-ThinItalic.woff') format('woff'),
        url('CocogooseNarrow-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Cocogoose Compressed';
    src: url('CocogooseCompressed-Italic.eot');
    src: local('Cocogoose Compressed Italic'), local('CocogooseCompressed-Italic'),
        url('CocogooseCompressed-Italic.eot?#iefix') format('embedded-opentype'),
        url('CocogooseCompressed-Italic.woff2') format('woff2'),
        url('CocogooseCompressed-Italic.woff') format('woff'),
        url('CocogooseCompressed-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Cocogoose Condensed';
    src: url('CocogooseCondensed-UltraLight.eot');
    src: local('Cocogoose Condensed UltraLight'), local('CocogooseCondensed-UltraLight'),
        url('CocogooseCondensed-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('CocogooseCondensed-UltraLight.woff2') format('woff2'),
        url('CocogooseCondensed-UltraLight.woff') format('woff'),
        url('CocogooseCondensed-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Compressed';
    src: url('CocogooseCompressed-Regular.eot');
    src: local('Cocogoose Compressed Regular'), local('CocogooseCompressed-Regular'),
        url('CocogooseCompressed-Regular.eot?#iefix') format('embedded-opentype'),
        url('CocogooseCompressed-Regular.woff2') format('woff2'),
        url('CocogooseCompressed-Regular.woff') format('woff'),
        url('CocogooseCompressed-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Condensed';
    src: url('CocogooseCondensed-Regular.eot');
    src: local('Cocogoose Condensed Regular'), local('CocogooseCondensed-Regular'),
        url('CocogooseCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('CocogooseCondensed-Regular.woff2') format('woff2'),
        url('CocogooseCondensed-Regular.woff') format('woff'),
        url('CocogooseCondensed-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Condensed';
    src: url('CocogooseCondensed-Italic.eot');
    src: local('Cocogoose Condensed Italic'), local('CocogooseCondensed-Italic'),
        url('CocogooseCondensed-Italic.eot?#iefix') format('embedded-opentype'),
        url('CocogooseCondensed-Italic.woff2') format('woff2'),
        url('CocogooseCondensed-Italic.woff') format('woff'),
        url('CocogooseCondensed-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Cocogoose Compressed Light Ita';
    src: url('CocogooseCompressed-LightIta.eot');
    src: local('Cocogoose Compressed Light Ita'), local('CocogooseCompressed-LightIta'),
        url('CocogooseCompressed-LightIta.eot?#iefix') format('embedded-opentype'),
        url('CocogooseCompressed-LightIta.woff2') format('woff2'),
        url('CocogooseCompressed-LightIta.woff') format('woff'),
        url('CocogooseCompressed-LightIta.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Compressed SemLt Ita';
    src: url('CocogooseCompressed-SemLtIta.eot');
    src: local('Cocogoose Compressed SemLt Ita'), local('CocogooseCompressed-SemLtIta'),
        url('CocogooseCompressed-SemLtIta.eot?#iefix') format('embedded-opentype'),
        url('CocogooseCompressed-SemLtIta.woff2') format('woff2'),
        url('CocogooseCompressed-SemLtIta.woff') format('woff'),
        url('CocogooseCompressed-SemLtIta.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Compressed';
    src: url('CocogooseCompressed-Light.eot');
    src: local('Cocogoose Compressed Light'), local('CocogooseCompressed-Light'),
        url('CocogooseCompressed-Light.eot?#iefix') format('embedded-opentype'),
        url('CocogooseCompressed-Light.woff2') format('woff2'),
        url('CocogooseCompressed-Light.woff') format('woff'),
        url('CocogooseCompressed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

