@mixin flex-center {
  display: flex;
  justify-content: center;
}

.about {
  background-image: url(https://nationalcoffeeblog.files.wordpress.com/2018/11/limitless-coffee.gif), linear-gradient(to top left, darken($black, 75%), $gray);
  background-color: transparent;
  background-blend-mode: overlay;
  background-position: 42% 58%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  position: relative;
  font: $font-stack-1;
  cursor: pointer;
  height: 500px;

  &-bottom {
    color: darken($gray, 54%);

    &-caption {
      border-radius: 5px;
      background-color: white;
      opacity: 0.7;
    }
  }
}

.best-coffee figcaption p {
  @include flex-center;

  align-items: center;
}

.coffeecon-2019 {
  background-image: linear-gradient(to top left, transparentize($orange, 0.3), transparentize($orange, 0.3)), url(https://www.finedininglovers.com/sites/g/files/xknfdk626/files/styles/open_graph_image/public/Original_555_FDL-226-TP.jpg?itok=Sf-xMd1p);
  backdrop-filter: blur(4px);
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  width: 100%;
  position: relative;
  font: $font-stack-1;
  cursor: pointer;
  height: auto;
}

.coffeecon-2018 {
  background-image: linear-gradient(to top left, transparentize($orange, 0.3), transparentize($orange, 0.3)), url(https://sprudge.com/wp-content/uploads/2018/09/Hugh-Kelly-ONA-Australia-03-1024x683.jpg);
  backdrop-filter: blur(4px);
  background-position: 42% 58%;
  background-attachment: scroll;
  background-size: cover;
  width: 100%;
  position: relative;
  font: $font-stack-1;
  cursor: pointer;
  height: auto;
}

.main-button {
  width: 18em;
  color: lighten($gray, 85%);
  border: transparent;
  background-color: darken($orange, 3%);
  border-radius: 50px;
}
