/*
      ==============================================
                  ****** GLOBAL ******
      ==============================================
 */

// Colors

$gray: #d3d3d3;
$orange: #ec5242;
$black: #272a31;
$white: #fff;
$dark-gray: #3d3f46;

// Fonts

$font-stack-1: 'Cocogoose-regular',sans-serif;
$font-stack-2: 'Lato',sans-serif;
$font-stack-3: 'Work Sans',sans-serif;
