i.fa-bars::before {
  font-size: 28px;
  color: $black;
  padding: 15px 25px;
  display: flex;
  align-items: center;
}

i.fa-facebook-f::before {
  font-size: 18px;
  color: $gray;
  display: flex;
  align-items: center;
}

i.fa-twitter::before {
  font-size: 18px;
  color: $gray;
  display: flex;
  align-items: center;
}