@media (max-width: 992px) {
     h1 {
         font-size: 40px;
     }
 }

@media (max-width: 767px) {

    .header-logo {
       background: linear-gradient(to left, darken($gray, 15%), $orange);    
    }

     h1 {
         font-size: 38px;
     }

    //  .grid-container {
    //     grid-template-columns: 1fr ;
    //     width: 100%;
    //     grid-gap: 24px;
    // }

    // .card-1 {
    //     display: grid;
    //     max-width: 150px;
    //     margin: 0 auto;
    //     grid-gap: 1rem;
    // }


}

@media (max-width: 576px) {
    h1 {
        font-size: 35px;
    }
}

@media (max-width: 321px) {
    h1 {
        font-size: 32px;
    }
}




@media (min-width: 768px) {
    .showcase-bottom-caption {
        margin-top: -10px;
    }

}