/*
      ==============================================
                  ****** RESET ******
      ==============================================
 */

*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: $font-stack-2;
    width: 100%;

    ul {
        list-style: none;

        a {
            text-decoration: none;
            color: black;


            &:hover {
                text-decoration: underline;
                color: inherit;
                text-decoration-color: #f72210;
            }
        }
    }
}

.orange-text {
    color: $orange;
}

.gray-text {
    color: $gray;
}

.black-text {
    color: $black;
}

.bg-black {
    background-color: $black;
}

.bg-gray {
    background-color: $gray;
}

.bg-orange {
    background-color: $orange;
}