.top-nav {
    height: 35px;
}

.bot-nav {
    height: 50px;
}

h1 {
    background: -webkit-linear-gradient(top left, darken($orange, 5%), $gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}