.showcase {
    background-image: url(/assets/coffee.gif), linear-gradient(to top left, darken($black, 75%), $gray);
    background-color: transparent;
    background-blend-mode: overlay;
    background-position: 42% 58%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    position: relative;
    font: $font-stack-1;
    cursor: pointer;
    height: 500px;

    &-bottom {
        //background: -webkit-linear-gradient(top left, lighten($orange, 75%), $black);
        // // -webkit-background-clip: text;
        // // -webkit-text-fill-color: transparent;   
        color: lighten($gray, 20%);

        &-caption {
            border-radius: 5px;
            background: transparentize($black, 0.6);

            //background-color: darken($gray, 25%); 

            // color: pink;
        }
    }


       
}

