.showcase {
    background-image: url(/assets/coffee.gif), linear-gradient(to top left, darken($black, 75%), $gray);
    background-color: transparent;
    background-blend-mode: overlay;
    background-position: 57% 43%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    position: relative;
    font: $font-stack-1;
    cursor: pointer;
    height: 500px;

    &-bottom {
        color: lighten($gray, 1%);

        &-caption {
            border-radius: 5px;
            background: transparentize($orange, 0.3);

            &-caption:hover {
                background: red;
            }

        }
    }


       
}

